@import "antd/dist/antd.css";
* {
  font-family: "Nunito", sans-serif;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.goBack {
  color: white;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.goBack:hover {
  transform: translate(-25px);
  color: rgba(17, 24, 39, 1);
}

.profile-gradient {
  min-height: 89vh;
  background: rgb(212, 107, 231);
  background: linear-gradient(
    90deg,
    rgba(212, 107, 231, 1) 25%,
    rgba(176, 107, 231, 1) 65%,
    rgba(151, 74, 245, 1) 90%
  );
}

.full-profile-gradient {
  min-height: 88vh;
  background: rgb(212, 107, 231);
  background: linear-gradient(
    90deg,
    rgba(212, 107, 231, 1) 25%,
    rgba(176, 107, 231, 1) 65%,
    rgba(151, 74, 245, 1) 90%
  );
}

.pageLength {
  min-height: 89vh;
}

.addCat {
  transition: all 0.3s ease-out;
}

.addCat:hover {
  background-color: rgba(229, 231, 235, 1);
}

.addCat:hover i {
  color: rgba(55, 65, 81, 1);
}

.cat-profile {
  display: flex;
  flex-direction: column;
}

.cat-profile h3 {
  line-height: 0%;
  font-size: 1.3rem;
}

.recommended-cat {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.recommended-cat h4 {
  font-size: 1rem;
  line-height: 0.25rem;
}

.recommended-cat span {
  font-size: 1rem;
}
